<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add another DJ!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="assets/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Add a new DJ</h1>
        <form action="/dj" method="POST">
        Name: <input type="text" name="name"><br/>
        Set Time: <input type="text" name="setTime"><br/>
        Img: <input type="url" name="img"><br/>
        <button type="submit">Add to list!</button>
    </body>
</html>