<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="assets/style.css" rel="stylesheet">
    </head>
    <body>
        <h1><%= dj.name %></h1><br/>
        <img src="<%= dj.img %>" /><br/>
        Set time is <%= dj.setTime %>
        <nav>
            <a href="/dj/<%=index%>/edit">Edit this Dj</a>
        </nav>
    
    </body>
</html>